.barra-menu {
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    background-color: white;
    height: 60px;
}

.caixa .barra-menu {
    -webkit-box-shadow: none;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: none;
    height: 60px;
}

.barra-menu ul {
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    height: 100%;
}

.barra-menu .nav-tabs {
    height: inherit;
    align-items: center;
}

.barra-menu .nav-link {
    font-weight: 600;
    font-size: 14px;
    color: grey;
}

.barra-menu .nav-link .active {
    color: #2C454C;
}
