.select {
    display: inline-block;
    font-size: 13px;
    width: 100%;
}

.select .texto {
    font-size: 13px;
}

.select.lista-select {
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    border: 1px solid rgb(208, 208, 208);
    transition: all 100ms ease-out 0s;
    margin: 0 calc(25px / 2);
    width: calc(100% - 65px);
    background-color: white;
    border-radius: 1px;
    position: absolute;
    max-height: 150px;
    list-style: none;
    min-width: 160px;
    overflow: auto;
    z-index: 9999;
    padding: 0;
}

.row .select.lista-select {
    width: calc(100% - 55px);
}

.caixa.grid .table .row .select.lista-select {
    width: calc(100% - 25px);
    margin: auto;
}

.select .label {
    width: calc(100% - 25px);
    margin: auto;
}

.select .label label {
    margin-bottom: 0;
    margin-top: .5rem;
}

.caixa.grid .table .row .botao-select {
    width: 100%;
}

.select .botao-select {
    grid-template-columns: calc(100% - 50px)  auto;
    border: 1px solid #ced4da;
    width: calc(100% - 25px);
    background-color: white;
    box-sizing: border-box;
    border-radius: .25rem;
    align-items: center;
    text-align: left;
    display: grid;
    margin: auto;
    padding: 5px;
}

.select.lista-select .item-lista-select {
    min-width: 100px;
    padding: 0 10px;
}


.select.disabled .botao-select {
    background-color: #e9ecef;
    opacity: 1;
}

.select .botao-select .icone-item-lista-select .material-icons {
    font-size: 20px !important;
    float: right;
}

.select.lista-select .item-lista-select:hover {
    background-color: #67677c12;
    color: black;
}

.select.lista-select .item-lista-select-selecionado {
    background-color: #6868ff;
    color: white;
}

.select.lista-select .item-lista-select-selecionado:hover {
    background-color: #5656fd;
    color: white;
}

.select .item-lista-select .icone-item-lista-select {
    display: grid !important;
    margin: 0 5px 0 0;
}

.select-backdrop {
    position: fixed;
    z-index: 1040;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.caixa-de-selecao-auto-complete .btn.botao-select.sem-borda {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.caixa-de-selecao-auto-complete .btn.botao-select .auto-complete {
    width: calc(100% - 55px);
    position: absolute;
    margin-top: 5px;
    z-index: 9999;
}

.caixa-de-selecao-auto-complete .btn.botao-select .auto-complete input {
    font-size: 13px;
    height: 32px;
}

.caixa.grid .table .row .caixa-de-selecao-auto-complete .btn.botao-select .auto-complete {
    width: calc(100% - 25px);
}